{% extends 'base.html.twig' %}

{% block title %}Edit WishList{% endblock %}

{% block body %}
    <main>
        <h1>Add friend</h1>

        {{ include('wish_list/_form.html.twig', {'button_label': 'Update'}) }}

        <p><a href="{{ path('app_wish_list_show', {slug: wish_list.slug}) }}" class="button">Retour à la liste</a></p>

    {#    {{ include('wish_list/_delete_form.html.twig') }}#}
    </main>
{% endblock %}
