{% extends 'base.html.twig' %}
{% set wishlist = wish_list  %}

{% block title %}Edit WishList{% endblock %}

{% block body %}
    <h1>Edit WishList</h1>

    {{ include('wish_list/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('wish_list/_delete_form.html.twig') }}

    {% include ('components/_return_to_wishlist.html.twig') %}


{% endblock %}
