{% extends 'base.html.twig' %}

{% block title %}WishList index{% endblock %}

{% block body %}
    <h1>WishList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wish_list in wish_lists %}
            <tr>
                <td>{{ wish_list.name }}</td>
                <td>
                    <a href="{{ path('app_wish_list_show', {'slug': wish_list.slug}) }}">show</a>
                    <a href="{{ path('app_wish_list_edit', {'slug': wish_list.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wish_list_new') }}">Create new</a>
{% endblock %}
