{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
    <main>
        <h1>Tirage au sort</h1>

        <h2>Et la proposition tirée au sort est :</h2>
        {% if proposition is null %}
            <p>Il n'est pas possible d'effectuer un tirage au sort</p>
        {% else %}
            {% include 'components/_proposition.html.twig' %}

        {% endif %}


        <p><a href="{{ path('app_wish_list_show', {slug: wishlist.slug}) }}" class="button">Retour à la liste</a></p>

        <p><a href="{{ path('app_user') }}" class="button">Retour à l'utilisateur</a></p>
    </main>

{% endblock %}
