{% extends 'base.html.twig' %}

{% block title %}Wish list{% endblock %}

{% block body %}
    <h1>Whish List, and your dreams become true (or not)</h1>

    <a href="{{ path('app_user') }}">User</a>
{% endblock %}
