{% extends 'base.html.twig' %}

{% block title %}Wish list{% endblock %}

{% block body %}
    <main>
        <h1>Whish List, and your dreams become true (or not)</h1>

        <p><a href="{{ path('app_user') }}">User</a></p>
        <p><a href="{{ path('app_home_test') }}">Ceci est un test basique</a></p>
    </main>
{% endblock %}
