@import url("https://fonts.googleapis.com/css2?family=Voces");
:root{
    --navbar-height: 40px;
    --font-size: 1.2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Voces", sans-serif;
}
body {
    background-color: skyblue;
    background: linear-gradient(180deg, #c938dc, #ecf802);
    background-size: cover;
    font-size: var(--font-size);

}
nav{
    height: var(--navbar-height);
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
main{
    min-height: calc(100vh - var(--navbar-height));
    margin: 0 20%;
}
.yellow{
    color: yellow;
}
nav svg {
    width: 32px;
    height: 32px;
}
h1 {
    margin: 1rem;
}
h2 {
    margin: 0.75rem;
}
section{
    margin-bottom: 1px;
}
.label{
    border: 1px solid grey;
    display: inline-block;
    padding: 0 2px;
}
section.card{
    border: 2px solid pink;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}
.card ul{
    list-style: none;
}
card>ul{
    margin-bottom: 0.75rem;
}
.card>ul>li{
    margin-bottom: 0.25rem;
}
a.button,
a.button:hover,
a.button:active,
a.button:visited
{
    display: inline-block;
    background: #9198e5;
    border: 1px solid #5B21B6;
    padding: 0.25rem;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin: 0.5rem 0;
    transform: translateX(0);
    transition-duration: 1s;
    transition-property: filter, transform, background-color;
}
a.button:hover{
    transform: translateX(0);
    background: #caccef;

}
div.card{
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.card-contenair{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-content{
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.card.Done{
    background: linear-gradient(red, darkred);
}
.card.Created{
    background: linear-gradient(greenyellow, darkgreen);
}
.card.Rejected{
    background: linear-gradient(lightslategray, darkslategray);
}
.card.Pending{
    background: linear-gradient(pink, deeppink);
}
.card-content>ul>li{
    margin-bottom: 0.5rem;
}
a.card-link,
a.card-link:hover,
a.card-link:active,
a.card-link:visited
{
    text-decoration: none;
}
.up {
    padding-top: 0.5rem;
    position: absolute;
    top: 0;
}
.right{
    padding-right: 0.5rem;
    position: absolute;
    right: 0;
}
.card-infos{
    font-size: 0.8rem;
}