form{
    display: flex;
    flex-direction: column;
}

form input[type=text], form input[type=password]{
    width: 15rem;
    border-radius: 10px;
    padding-left: 10px;
    height: 2rem;
    font-size: var(--font-size);
}
form textarea{
    font-size: var(--font-size);

}
form button{
    font-size: var(--font-size);
    min-width: 5rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    filter: drop-shadow(6px 5px 2px rgb(0 0 0 / 0.4));
    transform: translateX(0);
    transition-duration: 1s;
    transition-property: filter, transform;
}
.button{
    filter: drop-shadow(6px 5px 2px rgb(0 0 0 / 0.4));
    transform: translateX(0);
    transition-duration: 1s;
    transition-property: filter, transform;
}
form button:hover,
.button:hover{
    filter: drop-shadow(-6px 5px 2px rgb(0 0 0 / 0.4));
    transform: translateX(0);
}
form button:active,
.button:active{
    filter: drop-shadow(-1px 1px 2px rgb(0 0 0 / 0.4));
    transform: translateX(0);
}
form input[type=text],
form input[type=password]
{
    margin: 1rem;
}

form label{
    margin-top: 1rem;
    margin-left: 1rem;
}
form textarea{
    width: 100%;
    height: 4rem;
    padding: 0.25rem;
}

form div#proposition_labels,
form div#change_state_state{
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-auto-rows: 1.5rem;
}
form div#proposition_labels input[type=checkbox],
form div#change_state_state input[type=radio]
{
    width: 1rem;
    height: 1rem;
    margin-bottom: 4px;
}
form div#proposition_labels *,
form div#change_state_state * {
    align-self: flex-end;
}