{% extends 'base.html.twig' %}
{% set wishlist = proposition.WishList %}

{% block title %}Edit Proposition{% endblock %}

{% block body %}
    <main>
        <h1>Edit Proposition</h1>

        {{ include('proposition/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('components/_return_to_wishlist.html.twig') }}

        {{ include('proposition/_delete_form.html.twig') }}
    </main>
{% endblock %}
