
<div class="card card-content {{ proposition.state }}">
    <ul>
        <li>{{ proposition.content }}</li>
        <li>
            {% if proposition.labels is not empty %}
                    {% for label in proposition.labels %}
                        {% include 'components/_label.html.twig' %}
                    {% endfor %}
            {% endif %}
        </li>
        <li>{% include 'components/_difficulty.html.twig' %}</li>


    </ul>
</div>