<div class="comments">
    {% if proposition.comments is not empty %}

            {% for comment in proposition.comments %}
                <div class="comment">
                    <div class="comment-content">{{ comment.text|nl2br }}</div>
                    <div class="comment-author">{{ comment.author.username }}</div>

                </div>
            {% endfor %}

    {% else %}
        <p>Cette proposition n'a pas encore reçu de commentaires</p>
    {% endif %}
</div>