{% extends 'base.html.twig' %}

{% block title %}New Label{% endblock %}

{% block body %}
    <main>
        <h1>Create new Label</h1>

        {{ include('label/_form.html.twig') }}

        <p><a href="{{ path('app_wish_list_show', {slug: label.whishList.slug}) }}" class="button">Retour à la liste</a></p>
    </main>
{% endblock %}
