{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div>
    <h1>Hello {{ app.user.username }}!</h1>

    {% if app.user.wishLists is empty %}
        <p><a href="{{ path('app_wish_list_new') }}">Créer votre première liste de souhaits</a></p>
    {%  else %}
        <ul>
            {% for wishlist in app.user.wishlists %}
                <li><a href="{{ path('app_wish_list_show', {slug: wishlist.slug}) }}">{{ wishlist.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}


    <ul>
    </ul>
</div>
{% endblock %}
